<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mission
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mission-page></mission-page>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Secret Cocktail
      </mat-panel-title>
    </mat-expansion-panel-header>
    <cocktail-page></cocktail-page>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Experience
      </mat-panel-title>
    </mat-expansion-panel-header>
    <experience-page></experience-page>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technology
      </mat-panel-title>
    </mat-expansion-panel-header>
    <technology-page></technology-page>
  </mat-expansion-panel>

</mat-accordion>
