/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 100px auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  opacity: 1;
  border: 1px solid white;
  background-color: #039BE5;
  color: white;
  font-size: 3em;
}

.cube__face--front  {
  transform: rotateY(  0deg) translateZ(100px);
}
.cube__face--right  {
  transform: rotateY( 90deg) translateZ(100px);
}
.cube__face--back   {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left   {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #AEEA00;
}
.cube__face--top    {
  transform: rotateX( 90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube { transition: transform 1s; }


.cube {

}

@-webkit-keyframes spin {
  from { transform: rotateY(0) }
  to { transform: rotateY(-360deg)}
}

.cube {
  animation: spin 10s infinite linear;
}
